In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame({'a':[1,2,np.nan],'b':[1,np.nan,np.nan],'c':[1,2,3]})

df

     a    b  c
0  1.0  1.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
df.isna()

       a      b      c
0  False  False  False
1  False   True  False
2   True   True  False

In [6]:
df.isna().any()

a     True
b     True
c    False
dtype: bool

In [7]:
df.isna().sum()

a    1
b    2
c    0
dtype: int64

In [8]:
df.dropna()

     a    b  c
0  1.0  1.0  1

In [10]:
df.mean()

a    1.5
b    1.0
c    2.0
dtype: float64

In [11]:
df['a'].mean()

1.5

In [12]:
df['a'].fillna(df['a'].mean(),inplace=True)

df

     a    b  c
0  1.0  1.0  1
1  2.0  NaN  2
2  1.5  NaN  3

In [13]:
df['b'].fillna(df['b'].median(),inplace=True)

df

     a    b  c
0  1.0  1.0  1
1  2.0  1.0  2
2  1.5  1.0  3