In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/data/Admission_Predict.csv')

In [6]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

# **Training and Testing the model**

In [7]:
x=data.drop(['Chance of Admit '],axis=1) 
y=data['Chance of Admit ']

In [9]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

In [10]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
335,336,325,111,4,4.0,4.5,9.11,1
105,106,316,110,3,4.0,4.5,8.78,1
67,68,316,107,2,3.5,3.5,8.64,1
326,327,299,100,3,2.0,2.0,8.02,0
240,241,296,101,1,2.5,3.0,7.68,0
...,...,...,...,...,...,...,...,...
151,152,332,116,5,5.0,5.0,9.28,1
314,315,305,105,2,3.0,4.0,8.13,0
22,23,328,116,5,5.0,5.0,9.50,1
8,9,302,102,1,2.0,1.5,8.00,0
51,52,312,100,2,1.5,3.5,7.90,1

In [11]:
y_train

335    0.83
105    0.69
67     0.57
326    0.63
240    0.60
       ...
151    0.94
314    0.66
22     0.94
8      0.50
51     0.56
Name: Chance of Admit , Length: 340, dtype: float64

In [12]:
x_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
369,370,301,98,1,2.0,3.0,8.03,1
172,173,322,110,4,4.0,5.0,9.13,1
110,111,305,108,5,3.0,3.0,8.48,0
340,341,312,107,3,3.0,3.0,8.46,1
74,75,314,106,3,3.0,5.0,8.90,0
78,79,296,95,2,3.0,2.0,7.54,1
265,266,313,102,3,2.5,2.5,8.68,0
251,252,316,99,2,2.5,3.0,9.00,0
115,116,310,106,4,4.5,4.5,9.04,1
21,22,325,114,4,3.0,2.0,8.40,0
133,134,323,112,5,4.0,4.5,8.78,0
85,86,319,103,4,4.5,3.5,8.66,0
145,146,320,113,2,2.0,2.5,8.64,1
18,19,318,110,3,4.0,3.0,8.80,0
239,240,299,100,1,1.5,2.0,7.89,0
348,349,302,99,1,2.0,2.0,7.25,0
88,89,314,108,3,4.5,3.5,8.14,0
217,218,321,109,4,4.0,4.0,9.13,1
342,343,308,106,3,3.0,3.0,8.24,0
205,206,295,99,2,2.5,3.0,7.65,0
92,93,298,98,2,4.0,3.0,8.03,0
128,129,326,112,3,3.5,3.0,9.10,1
301,302,319,108,2,2.5,3.0,8.76,0
222,223,324,113,4,4.5,4.0,8.79,0
270,271,306,105,2,2.5,3.0,8.22,1
91,92,299,97,3,5.0,3.5,7.66,0
230,231,313,104,3,4.0,4.5,8.65,0
300,301,309,106,2,2.5,2.5,8.00,0
297,298,320,120,3,4.0,4.5,9.11,0
181,182,305,107,2,2.5,2.5,8.42,0
49,50,327,111,4,3.0,4.0,8.40,1
113,114,320,110,2,4.0,3.5,8.56,0
333,334,319,108,3,3.0,3.5,8.54,1
102,103,314,106,2,4.0,3.5,8.25,0
266,267,312,105,2,2.0,2.5,8.45,0
204,205,298,105,3,3.5,4.0,8.54,0
29,30,310,99,2,1.5,2.0,7.30,0
374,375,315,105,2,2.0,2.5,7.65,0
75,76,329,114,2,2.0,4.0,8.56,1
170,171,312,101,2,2.5,3.5,8.04,1
225,226,296,99,2,2.5,2.5,8.03,0
31,32,327,103,3,4.0,4.0,8.30,1
93,94,301,97,2,3.0,3.0,7.88,1
153,154,324,105,3,3.0,4.0,8.75,0
14,15,311,104,3,3.5,2.0,8.20,1
391,392,318,106,3,2.0,3.0,8.65,0
220,221,313,103,3,4.0,4.0,8.75,0
228,229,318,112,3,4.0,3.5,8.67,0
396,397,325,107,3,3.0,3.5,9.11,1
16,17,317,107,3,4.0,3.0,8.70,0
11,12,327,111,4,4.0,4.5,9.00,1
157,158,309,104,2,2.0,2.5,8.26,0
96,97,306,100,2,3.0,3.0,8.00,0
5,6,330,115,5,4.5,3.0,9.34,1
94,95,303,99,3,2.0,2.5,7.66,0
174,175,321,111,4,4.0,4.0,8.97,1
44,45,326,113,5,4.5,4.0,9.40,1
136,137,312,103,3,5.0,4.0,8.45,0
368,369,298,92,1,2.0,2.0,7.88,0
4,5,314,103,2,2.0,3.0,8.21,0

In [13]:
y_test

369    0.67
172    0.86
110    0.61
340    0.75
74     0.74
78     0.44
265    0.71
251    0.70
115    0.66
21     0.70
133    0.79
85     0.76
145    0.81
18     0.63
239    0.59
348    0.57
88     0.64
217    0.85
342    0.58
205    0.57
92     0.34
128    0.84
301    0.66
222    0.76
270    0.72
91     0.38
230    0.73
300    0.62
297    0.86
181    0.71
49     0.78
113    0.72
333    0.71
102    0.62
266    0.72
204    0.69
29     0.54
374    0.39
75     0.72
170    0.68
225    0.61
31     0.74
93     0.44
153    0.79
14     0.61
391    0.71
220    0.76
228    0.71
396    0.84
16     0.66
11     0.84
157    0.65
96     0.48
5      0.90
94     0.36
174    0.87
44     0.91
136    0.76
368    0.51
4      0.65
Name: Chance of Admit , dtype: float64

# **Model Evaluation**

In [14]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(x_train,y_train)

GradientBoostingRegressor()

In [15]:
model.score(x_test,y_test)

0.6785145518421449

In [16]:
y_predict=model.predict(x_test)

In [17]:
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
import numpy as np
print('Mean Absolute Error:', mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 0.05495171304046213
Mean Squared Error: 0.005774200134363233
Root Mean Squared Error: 0.07598815785609778

In [18]:
y_train = (y_train>0.5)
y_test = (y_test>0.5)

In [19]:
from sklearn.linear_model._logistic import LogisticRegression

lore = LogisticRegression(random_state=0, max_iter=1000)

lr = lore.fit(x_train, y_train)

In [20]:
y_pred = lr.predict(x_test)

In [21]:
y_pred

array([ True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True])